body{
    height:1000px
}

#main{
    height:5000px
}
 #table {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 10px;
    right: 10px;
    display:none;
  }
  #header {
    position: absolute;
    top: 0;
    height: 25px;
    left: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: solid 1px #444;
  }
  .title {
    width: 100px;
  }
  .desc {
    position: absolute;
    left: 120px; 
    top: 0px;
    font-family: italic;
    color: #444;
  }

  .container{
      display:none !important;
  }

.strechContainer  {border: 1px solid black;position: relative}
.clearfix:after {content:'';display:block;}
.left_panel {float:left;height:200px;background-color: grey}
.right_panel {float:left;height:200px;background-color: black}
.dragPoint{    cursor: col-resize;
    width: 5px;
    position: absolute;
    height: 200px;
    left: 110px;
    z-index: 2; };
